<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Title</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrapTable/bootstrap-table.min.css}" rel="stylesheet">

    <script th:src="@{/jquery/jquery-2.1.0.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrapTable/bootstrap-table.min.js}"></script>
    <script th:src="@{/bootstrapTable/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript">
        $(function () {
            $("#addAssetButton").click(function () {
                window.location.href="asset/addAsset";
                return false;
            })
        })
    </script>
</head>
<body>
<div class="row" id="titlePart" th:replace="commons/bar::jumbotron"></div>
<div id="toolbar" class="btn-group">
    <button type="button" class="btn btn-default" id="addAssetButton">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <button type="button" class="btn btn-default">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
</div>
<table id="table">
</table>
<script type="text/javascript">
    $(function () {

        $("#table").bootstrapTable({
            url: "user/getAllUsers",
            cache: false,
            search:true,
            toolbar:"#toolbar",
            striped: true,
            pagination: true,
            pageList: [10,20,50],
            pageSize:10,
            pageNumber: 1,
            showToggle: true,
            sortable:true,
            showRefresh:true,
            showColumns:true,
            sortName:'hostid',
            sortOrder:'desc',
            columns:[
                {
                    checkbox:true
                },
                {
                    field:'hostid',
                    title:'Host ID',
                    align:'center',
                    valign:'middle',
                    visible:true
                },
                {
                    field:'hostname',
                    title:'Host Name',
                    align:'center',
                    valign:'middle',
                    visible:false
                },
                {
                    field:'devicename',
                    title:'Device Name',
                    align:'center',
                    valign:'middle',
                    sortable:true
                },
                {
                    field:'ip',
                    title:'IP',
                    align:'center',
                    valign:'middle',
                    sortable:true
                },
                {
                    field:'action',
                    title:'Action',
                    formatter:actionFormatter
                }
            ],
            detailView:true,
            onExpandRow: function (index, row, $detail) {
                $detail.hide().html('&emsp;&emsp;&emsp;Company : '+row.company+'&emsp;&emsp;&emsp;Department: '+row.department+'<br/>'
                                    +'&emsp;&emsp;&emsp;Type: '+row.type+'&emsp;&emsp;&emsp;Brand: '+row.brand+'&emsp;&emsp;&emsp;Model: '+row.model+'<br/>'
                                    +'&emsp;&emsp;&emsp;Status: '+row.status+'&emsp;&emsp;&emsp;Grade: '+row.grade+'<br/>'
                                    +'&emsp;&emsp;&emsp;DetailLocation: '+row.location).fadeIn('slow')
            },
            onCollapseRow: function (index, row, $detail) {
                $detail.clone().insertAfter($detail).fadeOut('slow', function () {
                    $(this).remove()
                })
            },
            onLoadSuccess: function(){  //加载成功时执行
                console.info("加载成功");
            },
            onLoadError: function(){  //加载失败时执行
                console.info("加载数据失败");
            }
        })

        function actionFormatter(value, row, index) {
            return [
                '&nbsp;&nbsp;&nbsp;&nbsp;<a class="like" href="asset/showAsset/'+row.hostid+'"title="Like">',
                '<i class="glyphicon glyphicon-heart"></i>',
                '</a>&nbsp;&nbsp;&nbsp;&nbsp;',
                '<a class="edit ml10" href="asset/editAsset/'+row.hostid+'"title="Edit">',
                '<i class="glyphicon glyphicon-edit"></i>',
                '</a>&nbsp;&nbsp;&nbsp;&nbsp;',
                '<a class="remove ml10" href="asset/deleteAsset/'+row.hostid+'"title="Remove">',
                '<i class="glyphicon glyphicon-remove"></i>',
                '</a>'
            ].join('');
        }


    })
</script>
</body>
</html>