<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="@{h-ui/css/hui.css}"/>
    <script th:src="@{h-ui/js/hui.js}" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        body {
            background: #FFF;
        }

        .line {
            height: 20px;
        }
    </style>
</head>

</html>